# Deprecated Folder
_deprecated/

# OS Files
**/.DS_Store
**/.DS_Store?

# vscode
.vscode

# env file
.env

# Vim files
*.sw[mnop]

# Notebooks used for experiments
experimental/

# Geofiles
*.geojson

# Pickle files
*.pickle
*.pkl


# Jupyter files
*.ipynb_checkpoints